.product-table {
    width: 90;
    padding: 20px 25px;
    background-color: #fff;
    margin: 30px 0;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #435d7d;
    color: #fff;
}
table {
    width: 100%;
}

.add-product {
    background-color: #5cd85c;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
.product-form {
    background-color: #fff;
    width: 600px;
    padding: 20px 50px;
    border-radius: 5px;
}
.form-control {
    width: 90%;
}
.group {
    display: flex;
    margin: 15px 0;
}
.group label {
    width: 70ox;
    line-height: 40px;
    height: 40px;
}
.action {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px;
}